html, body
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #F6F5F3;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    *
        box-sizing border-box
        font-family: 'Titillium Web', sans-serif;

